<div class="comment bg-success">
    <div class="comment-content">
        <p> &emsp; {{content}}</p>
    </div>
    <div class="comment-meta">
        <p> &emsp; {{user.firstName}} {{user.lastName}} on {{format_date created_at}}</p>
        <p><br></p>
    </div>
</div>