<article class="places">
  <div class="name">
   {{name}}
  </div>
  <div class="meta">
    <a href="/places/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>