<div class="post bg-secondary">
    <div class="post-content">
        <p> &emsp; {{content}}</p>
    </div>
    <div class="post-meta">
        <p> &emsp; Posted by {{user.firstName}} {{user.lastName}} on {{format_date created_at}}</p>
        <p><br></p>
    </div>
    <div class="comments">
        {{#each comments as |comment| }}
        {{> comment-info comment }}
        {{/each}}
    </div>
</div>