<article class="trips">
  <div class="title">
   {{title}}
  </div>
  <div class="meta">
    <a href="/trips/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>