<!-- places section starts  -->

<main class="places" id="places">

    <h1 class="heading">
        <span>e</span>
        <span>x</span>
        <span>p</span>
        <span>e</span>
        <span>n</span>
        <span>s</span>
        <span>e</span>
        <span>s</span>

    </h1>

    <div class="row">

        <form action="">
            <div class="inputBox">
                <h3> description </h3>
                <input type="text" placeholder="restaurant name etc...">
            </div>
            <div class="inputBox">
                <h3>cost</h3>
                <input type="number" placeholder="$0.00">
            </div>
            <div class="inputBox">
                <h3>date</h3>
                <input type="date">
            </div>
            <input type="submit" class="btn" value="enter">

            <div class="inputBox">
                <h3>Expenses</h3>
                <ul>
                    <li class="list-item">Hotel stay - $120.00</li>
                    <li class="list-item">Breakfast - $15.00</li>
                    <li class="list-item">Lunch - $20.00</li>
                    <li class="list-item">Dinner - $25.00</li>
                    <li class="list-item">Movie - $10.00</li>
                </ul>
                <br>
                <p class="list-item">Total - $190.00</p>
        </div>
            
        </form>

        <div class="image">
            <img src="images/chart.png" alt="">
        </div>

    </div>

</main>

<!-- places section ends -->