<!-- gallery section starts  -->

<main class="gallery" id="gallery">

    <h1 class="heading">
        <span>g</span>
        <span>a</span>
        <span>l</span>
        <span>l</span>
        <span>e</span>
        <span>r</span>
        <span>y</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/g-1.jpg" alt="">
            <div class="content">
                <h3>explore</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-2.jpg" alt="">
            <div class="content">
                <h3>explore</h3>
                <p>Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. </p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-3.jpg" alt="">
            <div class="content">
                <h3>explore</h3>
                <p>Mauris pellentesque pulvinar pellentesque habitant morbi tristique. .</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-4.jpg" alt="">
            <div class="content">
                <h3>explore</h3>
                <p>Ultricies integer quis auctor elit sed vulputate mi sit amet. </p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-5.jpg" alt="">
            <div class="content">
                <h3> explore </h3>
                <p>Est velit egestas dui id ornare. Tellus in hac habitasse platea dictumst vestibulum rhoncus. </p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-6.jpg" alt="">
            <div class="content">
                <h3> explore </h3>
                <p>Ultrices vitae auctor eu augue ut lectus arcu. </p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-7.jpg" alt="">
            <div class="content">
                <h3> explore </h3>
                <p>Vivamus at augue eget arcu.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-8.jpg" alt="">
            <div class="content">
                <h3>explore </h3>
                <p>Ipsum dolor sit amet consectetur adipiscing elit duis tristique.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-9.jpg" alt="">
            <div class="content">
                <h3>explore</h3>
                <p>Nisi scelerisque eu ultrices vitae auctor eu. </p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>

    </div>

</main>

<!-- gallery section ends -->