<!-- home section starts  -->

<main class="home" id="home">

    <div class="content">
        <h3>A More Rewarding Way To Travel</h3>
        <p>discover new places with us, your next adventure awaits</p>
        <p>explore on a budget and share stories</p>
        <a href="#" class="btn">discover more</a>
    </div>

    <div class="controls">
        <span class="vid-btn active" data-src="images/vid-1.mp4"></span>
        <span class="vid-btn" data-src="images/vid-2.mp4"></span>
        <span class="vid-btn" data-src="images/vid-3.mp4"></span>
        <span class="vid-btn" data-src="images/vid-4.mp4"></span>
        <span class="vid-btn" data-src="images/vid-5.mp4"></span>
    </div>

    <div class="video-container">
        <video src="images/vid-1.mp4" id="video-slider" loop autoplay muted></video>
    </div>

</main>

<!-- home section ends -->