<!-- posts section starts  -->

<main class="posts" id="posts">
    
    <h1 class="heading">
        <span>s</span>
        <span>t</span>
        <span>o</span>
        <span>r</span>
        <span>i</span>
        <span>e</span>
        <span>s</span>
    </h1>

    <div class="row">

        <div class="image">
            <img src="images/posts.jpg" alt="">
        </div>

        <form action="">
            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="number">
                <input type="text" placeholder="subject">
            </div>
            <textarea placeholder="story telling..." name="" id="" cols="30" rows="10"></textarea>
            <input type="submit" class="btn" value="submit">
        </form>

    </div>
    
</main>

<!-- posts section ends -->